.submenuWrapper--isOpen{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-top: 1px solid rgb(189, 189, 189);
}

@media screen and (min-width: 991px){
    .submenuWrapper--isOpen .submenu :global(.vtex-flex-layout-0-x-flexRow){
        width: 100vw;
    }
}

.submenuWrapper--isOpen .styledLinkContent{
    text-transform: capitalize;
    font-weight: 400 !important;
    font-size: .9rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 9px;
}

.menuItem--titulo-item-menu .styledLinkContent--titulo-item-menu{
    font-weight: 600 !important;
    font-size: 1rem !important;
}


