.input
.hideDecorators
.noAppearance{
    color: white;
}

:global(.vtex-store-components-3-x-searchBarContainer) .input{
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: .85rem;
    border-bottom: 1px solid white;
}

:global(.vtex-store-components-3-x-searchBarContainer) .input::placeholder{
    color: white;
    font-weight: 500;
}