.input
.hideDecorators
.noAppearance{
    color: white;
}
:global(.vtex-store-components-3-x-searchBarContainer){
    align-self: center;
}
:global(.vtex-store-components-3-x-searchBarContainer) .input{
    color: black;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: .85rem;
    border-bottom: 2px solid #5E1D39;
    border-radius: 0;
}

:global(.vtex-store-components-3-x-searchBarContainer) .input::placeholder{
    color: transparent;
    font-weight: 100;
    font-style: italic;
}