@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}


@media screen and (min-width: 75em) {
  .paper--quickview {
    width: calc(100% - 4rem);
    height: auto;
  }
}

@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

.paper--quickview {
  min-width: 320px;
  max-width: 96rem;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  box-shadow: -4px 0px 27px -12px transparent;
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  padding: 2.5rem 0 2.5rem 2rem;
  overflow-x: hidden;
}

.triggerContainer--quickview {
  padding: .75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: rgb(238, 238, 238);
  box-shadow: -4px 0px 27px -12px rgba(0,0,0,0.64);
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) .actionsContentWrapper {
  border-top-color: transparent;
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}


.paper--modal-info
:global(.vtex-rich-text-0-x-wrapper){
  padding: 0 3rem 2rem 3rem;
  text-align: center;
}
.paper--modal-info
:global(.vtex-rich-text-0-x-wrapper)
:global(.vtex-rich-text-0-x-heading){
  font-family: 'Roboto Condensed', sans-serif;
}
.container--modal-info.container{
  background-color: rgba(0, 0, 0, 0.350);
}

/* GUIA DE TALLAS | MODAL */
.triggerContainer--guia
:global(.vtex-rich-text-0-x-wrapper--guia){
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.paper--guia{
  border-radius: 0;
}

.paper--guia
:global(.vtex-tab-layout-0-x-container--guia-puntroma)
:global(.vtex-button){
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  border-radius: 0;
}

.paper--guia
:global(.vtex-tab-layout-0-x-container--guia-puntroma)
:global(.vtex-tab-layout-0-x-listItemActive)
:global(.vtex-button){
  background-color:#CF478A;
}

.paper--guia
:global(.vtex-tab-layout-0-x-container--guia-puntroma)
:global(.vtex-button):hover{
  background-color: #cf478b6c;
  color: white;
}

.paper--guia
:global(.vtex-tab-layout-0-x-container--guia-puntroma)
:global(.vtex-tab-layout-0-x-listItemActive)
:global(.vtex-button):hover{
  background-color:#CF478A;
}